@import "../style/Utils.scss";

.myInfo {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  justify-items: center;
  position: relative;
   &__cover {
    width: 100%;
    height: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
   }

   &__photo {
    width: 10rem;
    height: 10rem;
    align-self: center;
    top: 25%;
    position: absolute;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: fill;
    }
   }

   &__data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__texts {
      width: 100%;
      height: 15rem;
      padding-top: 5rem;

      .name {
        font-size: 3rem;
        text-align: center;
        text-transform: capitalize;
      }

      .position {
        width: 100%;
        height: 5rem;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 100%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        font-size: 1.5rem;
        text-transform: capitalize;

        .firstLine, .secondLine {
          width: 80%;
          height: 0.3rem;
          background-color: $fontColor;
        }
      }
    }

    &__contact {
      width: 100%;
      height: 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-evenly;
      justify-items: center;
      align-items: center;
      a {
        display: block;
        width: 3rem;
        height: 3rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
   }
}