@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap');

// Variables
$backgroundColor: #f4f4f4;
$fontColor: #1d1c1c;

$titleFont: "Roboto";
$subtitleFont: "Open Sans";